# Create a new file called `.env` populated
# with each of the following keys and values from
# your API accounts.

export MIX_ENV=dev

export FORECAST_API_KEY=""
export FORECAST_LOCATION=""

export JIRA_URL=https://example.atlassian.net
JIRA_USERNAME=""
JIRA_PASSWORD=""
export JIRA_AUTH="$(echo -e "${JIRA_USERNAME}:${JIRA_PASSWORD}" | base64)"

export TWITTER_CONSUMER_KEY=""
export TWITTER_CONSUMER_SECRET=""
export TWITTER_ACCESS_TOKEN=""
export TWITTER_ACCESS_SECRET=""

export VICTOROPS_ID=""
export VICTOROPS_KEY=""
export VICTOROPS_TEAM=""
export VICTOROPS_ORG=""
VICTOROPS_USERNAME=""
VICTOROPS_PASSWORD=""
export VICTOROPS_AUTH="$(eche -e "${VICTOROPS_USERNAME}:${VICTOROPS_PASSWORD}" | base64)"
